html {
  height: 100%;
}

body {
  background-color: black;
}

h1 {
  color: chartreuse;
  font-family: coda, roboto, san-serif;
  font-size: 64pt;
  align-content: center;
}

p {
  font-size: 24pt;
  font-family: coda, roboto, san-serif;
  color: mediumblue;
}

.image1 {
  width: 750px;
  display: block;
  margin: auto;
}

.image2 {
  width: 500px;
  display: block;
  margin: auto;
}
